@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-shadow: #ffffe349;
  --foreground: #FFFFE3;
  --background: #10100E;
}

html,
body {
  @apply bg-background text-foreground;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
